body { background: #873989; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-auth-0 { color: #744970; font-size: 17px; margin-bottom: 5px; }
.block-invoice-1 { color: #a55612; font-size: 19px; margin-bottom: 5px; }
.block-filter-2 { color: #849202; font-size: 15px; margin-bottom: 5px; }
.block-token-3 { color: #bff660; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #14080a; font-size: 19px; margin-bottom: 5px; }
.block-config-5 { color: #2675e0; font-size: 16px; margin-bottom: 5px; }
.block-token-6 { color: #fdc61e; font-size: 14px; margin-bottom: 5px; }
.block-uploader-7 { color: #842d0a; font-size: 17px; margin-bottom: 5px; }